<% layout('layouts/boilerplate') %>

<div id="map" style="width: 100%; height: 500px"></div>

<h1>All Campground</h1>
<div class="container">
  <div class="row">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
            </li>
        </ul>
        </nav>
    </div>
<div class="row">
    <% for(let campground of campgrounds) { %>
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card shadow border-0 mt-4">
        <% if(campground.images.length) {%>
        <img src="<%= campground.images[0].url %> " class="card-img-top" alt="" />
        <% } else { %>
        <img
          src="https://res.cloudinary.com/dwnvpusvo/image/upload/v1639114595/YelpCamp/cvtu2mipffo91qjeztoh.jpg"
          class="card-img-top"
          alt=""
        />
        <% } %> 
        <div class="card-body">
          <h4 class="card-title card-title text-capitalize"><a href="/campgrounds/<%= campground._id %> "><%= campground.title %></a></h4>
           <p class="card-text">
            <small class="text-muted"><%= campground.location %> </small>
          </p>
          <% if (campground.price <= 10) { %>
            <small class="float-right text-muted">$</small>
            <% } else if (campground.price < 30) { %>
            <small class="float-right text-muted">$$</small>
            <% } else { %>
            <small class="float-right text-muted">$$$</small>
            <% } %>
        </div>
      </div>
    </div>
    <% } %>
  </div>
  </div>
  <script>
    const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
    const campgrounds = {"features":<%- JSON.stringify(campgrounds) %>}
  </script>

  <script src="/js/clusterMap.js"></script>
</div>
